{% import "bootstrap/wtf.html" as wtf %}

<div class="font-manager-1">
	留言 (<span style="font-weight:500;"> {{ post.comments.count() }}</span> )
</div>


<div class="comments">
{% for comment in comments %}
	<li class="comment">

		<div class="comment-title">
			{% if comment.blog_web %}
				<span> <a href="http://{{ comment.blog_web }}" target="_blank" > {{ comment.username }} </a> 说:</span>
			{% else %}
				<span > {{ comment.username }} 说:</span>
			{% endif %}
		<div >
	
		<div class="comment-body" id="body-{{comment.id}}">
			{% if comment.body_html %}
			    {{ comment.body_html | safe }}
			{% else %}
				{{ comment.body }}
			{% endif %}
		</div>

		<div class="comment-footer">
			<span class="comment-footer-list"> {{ moment(comment.timestamp).format('YYYY年MM月DD日 HH:mm') }}</span>
			<span class="comment-footer-list"> <a href="#report-comment" title="引用这条评论" 
										onclick="return CommentQuote('{{ comment.username }}','body-{{ comment.id }}');" >引用</a></span>
		</div>


	</li>

{% endfor %}

<div id="report-comment">
	<h3>留言 | 评论(HTML标签部分可用)</h3>
</div>

<form   method="POST" name="comments_form">
    {{ form.hidden_tag() }}


	<div class="font-manager-2">
		您的留言
	</div>
    {{ form.body(cols=90, rows=6, style="border-radius:5px; background-color:#797979;") }}

	<div class="font-manager-2">
		您的称呼(必填)
	</div>
    {{ form.username(style="width:300px; height:35px;border-radius:5px;background-color:#797979;border:0px;") }}</br>


		<div class="font-manager-2">
			您的邮箱(必填，不公开)
		</div>
		{{ form.email(style="width:300px; height:35px;border-radius:5px;background-color:#797979;border:0px;") }}</br>

		<div class="font-manager-2">
			您的个人网站
		</div>
		{{ form.blog_web(style="width:300px; height:35px;border-radius:5px;background-color:#797979;border:0px;") }}</br>

		<div class="font-manager-2">
			请输入验证码
		</div>
		{{ form.recaptcha(style="width:150px; height:35px;border-radius:5px;background-color:#797979;border:0px;") }}
		<img src="{{url_for('main.generate_veri_code')}}" width="150px" height="35px" />

		{% if form.errors %}
    		<span style="color: red;">{{ form.errors.get('recaptcha') }}</span>
		{% endif %}

	<div class="report-comment-form">
    	{{ form.submit(style="width:100px; height:30px;border-radius:5px;background-color:#797979; border:0px;") }}
	</div>
</form>


</div>
