
 <div class="footer">

 	<div class="footer-top">
		<div class="footer-top-all">

 			<div class="footer-github">
	 			<a  href="https://github.com/menghao2015/flask_blog"> <img src="/static/github.png" width="30" height="30" ><b>Github</b></a>
			</div>

			<div class="footer-email ">
				<span class="glyphicon glyphicon-envelope" style="color:black; font-size: 19px;"> </span> 
			</div>

			<div class="footer-email-2 ">
				<a href="mailto:menghao7076@gmail.com" ><b>Email</b></a>
			</div>
		</div>

	</div>


	  <div class="footer-powered">
	  	<div class="footer-powered-all">
		 	<a  href="#"><b>Powered  by &nbsp MengHao</b></a>
		 </div>
	  </div>


  </div>
