
<div class="header">

	<div class="header-line-img">
	</div>

		<div class="header-line">
			This is the  my first web.<br>
			这是一个初始的网站
		</div>

		<div class="manager-line">
			{% if current_user.is_authenticated %}
				<a href="{{ url_for('main.manager') }}" style="color:#797979">Manager</a>
			{% endif %}
		</div>


</div>

<div class="navbar navbar-custom" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            	<li><a class="navbar-brand" href="{{ url_for('main.index') }}">
				{% if mark=='default' %} <div class="navbar-mark"> 技术相关 </div> {% else %} 技术相关 {% endif %}
				</a></li>

                <li><a  class="navbar-brand" href="{{ url_for('main.all') }}" >
				{% if mark=='all' %} <div class="navbar-mark"> 全部文章 </div>  {% else %} 全部文章 {% endif %}
				</a></li>

                <li><a  class="navbar-brand" href="{{ url_for('main.mind_study') }}">
				{% if mark=='mind_study' %} <div class="navbar-mark"> 求索/杂感 </div> {% else %} 求索/杂感 {% endif %}
				</a></li>

                <li><a  class="navbar-brand" href="{{ url_for('main.others') }}">
				{% if mark=='others' %} <div class="navbar-mark"> 归档/其它</div> {% else %} 归档/其它 {% endif %}
				</a></li>

                <li><a  class="navbar-brand" href="{{ url_for('main.bug') }}">
				{% if mark=='bug' %} <div class="navbar-mark"> 吐槽BUG </div> {% else %} 吐槽BUG {% endif %}
				</a></li>
            </ul>


			<ul class="nav navbar-nav navbar-right">
			{% if current_user.is_authenticated %}

				<li><a class="navbar-brand" href="{{ url_for('main.new_post') }}">写</a></li>
				<li><a class="navbar-brand" href="{{ url_for('auth.logout') }}">logout</a></li>
			{% else %}
				<li><a class="navbar-brand" href="{{ url_for('auth.login') }}">login</a></li>
			{% endif %}
			</ul>
        </div>
    </div>
</div>

