{% extends "bootstrap/base.html" %}

{% block title %}Mohor's Website{% endblock %}


{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet"  href="{{ url_for('static', filename='styles.css') }}" type="text/css" >
<script type="text/javascript" src="/static/mt.js"></script>
{% endblock %}



{% block navbar %}
{% include '_nav-header.html' %}
{% endblock %}



{% block content %}

<div class="bg_color">

<div id="main-body">
	
		<div class="container">
		    {% for message in get_flashed_messages() %}
		    <ul class="alert alert-warning">
		        <button type="button" class="close" data-dismiss="alert">&times;</button>
		        {{ message }}
		    {% endfor %}
			</ul>
		</div>

		<div class="main-left">
			{% block left_content %} {% endblock %}
		</div>
	
		<div class="main-right">
			{% block right_content %} {% endblock %}
		</div>
	
	
	</div>
</div>
{% endblock %}





{% block scripts %}
{{ super() }}
{% include '_footer.html' %}
{{ moment.include_moment() }}
{% endblock %}





